*.debhelper.log
debhelper-build-stamp
ctdb/
libnss-winbind/
libpam-smbpass/
libpam-winbind/
libparse-pidl-perl/
libsmbclient-dev/
libsmbclient/
libwbclient-dev/
libwbclient0/
python-samba/
registry-tools/
samba-common-bin/
samba-common/
samba-dev/
samba-dsdb-modules/
samba-libs/
samba-testsuite/
samba-vfs-modules/
samba/
smbclient/
tmp/
winbind/
